* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #0f0015;
}

main{
    /*border: 1px solid white;*/
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

main h2{
    /*border: 1px solid white;*/
    font-size: 700%;
    padding: 5%;
    text-align: center;
    color: #efbc2f;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div__container{
    display: none;
    align-items: center;
    flex-direction: column;
}

#div__container-2{
    display: none;
    align-items: center;
    flex-direction: column;
}

.div__answers{
    /*border: 1px solid white;*/
    padding-top: 4%;
    height: 50vh;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: 600px 600px ;
    grid-template-rows: 120px 120px;
}
button{
    /*border: 1px solid white;*/
    width: 30%;
    padding: 2%;
    margin: 1%;
    border: 2px solid #000;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

button:active{
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

.button__answer{
    /*border: 1px solid white;*/
    width: 100%;
    padding: 2%;
    margin: 1%;
    border: 2px solid #000;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}